body {
  font-family: Garamond, serif; 
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/107/247/non_2x/wireframe-city-background-perspective-3d-of-building-wireframe-free-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%; 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  animation: aparecer 0.8s ease-in-out;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1, h2, h3, label, p, button, div {
  font-family: Garamond, serif; 
}

/* Ajustar tamaño de letra en elementos de la calculadora */
.factibilidad-box, .factibilidad, .calculadoras, .calculadora-metal, .calculadora-concreto,
label, input[type="number"], .btn-calcular, .btn-reset, .btn-descargar {
  font-size: 16px;
}

.factibilidad-box {
  background: linear-gradient(45deg, #ff6666, #666666);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: white;
}

.factibilidad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.factibilidad input {
  width: 30px;
  margin: 0 5px;
  text-align: center;
}

.calculadoras {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.calculadora-metal, .calculadora-concreto {
  width: 45%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculadora-metal {
  background-color: rgba(255, 204, 204, 0.8);
}

.calculadora-concreto {
  background-color: rgba(204, 204, 204, 0.8);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(45deg, #ff6666, #666666);
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}

.btn-inicio {
  display: block;
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: black;
  font-weight: bold;
}

.titulo {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.titulo h1 {
  font-size: 4em;
}

.opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.opcion {
  padding: 20px 40px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  display: inline-block;
}

.izquierda {
  background-color: red;
}

.derecha {
  background-color: gray;
}

/* Estilos para la sección de gráficos */
.graficos {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al principio */
  gap: 20px; 
}

.interpretacion {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}